<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text to HTML</title>
    <style>
        body {
            max-width: 700px;
            margin: 0 auto;
            padding: 0 20px;
        }
        label {
            font-size: 32pt;
            font-weight: bold;
        }
        textarea {
            width: 100%;
            margin: 20px 0;
            min-height: 300px;
            min-width: calc(100%);
            max-width: calc(100%);
        }
    </style>
</head>
<body>
<form method="post" action="/generate">
    {% csrf_token %}
    <label for="text">Input your text</label>
    <p>The text will be converted and rendered as HTML</p>
    <div><textarea id="text" name="text"></textarea></div>
    <button type="submit">Generate</button>
</form>
</body>
</html>